<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pickupsports2.ridgewell.pickupsports2" >
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/playball_border_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Pickupsports" >

        <activity
            android:launchMode="singleTop"
            android:name=".activites.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activites.ViewEventActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activites.MainActivity" >

        </activity>

        <activity
            android:name=".activites.CreateEventActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activites.MainActivity">
        </activity>

        <activity
            android:name=".activites.ViewUserActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activites.MainActivity" >

        </activity>
    </application>

</manifest>
